/* en tete */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white; 
    padding: 10px 120px; /* ajustement des marges */
}
/* Presentation */
.container {
    display: flex;
  }
  
  .presentation {
    flex: 1; 
    margin: 10px; 
    padding: 20px; /* Remplissage à l'intérieur des sections */  
  }
  

/* Style de base pour la liste ul */
ul {
    list-style: none; 
    display: flex;
    width: 100%;
    align-items: center;
}

/* Style pour le logo */
.Logo img {
    max-height: 50px;
    height: auto;
}

/* Style pour le menu */
.menu {
    display: flex;
    gap: 20px; /* Espacement entre les éléments du menu */
    margin-left: auto; /* Pousse le menu à droite */
    color: #B2BAC6;
}

.menu li:hover {
    color: #00C3A5; /* Couleur du texte lorsque survolé */
    cursor: pointer;
}


li {
    display: flex;
    align-items: center;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Assure que le conteneur prend toute la hauteur de la vue */
}

.centered img {
    max-width: 5%; /* Pour s'assurer que l'image ne dépasse pas la largeur du conteneur */
}


/* les offres *//* les offres *//* les offres *//* les offres *//* les offres *//* les offres *//* les offres */
body {
    padding: 10px 120px; /* ajustement des marges */
}

.offers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.box {
    text-align: center;
    width: 30%;
    border: 1px solid #ccc;
    padding: 20px;
    height: 300px;
    box-sizing: border-box; 
    border-radius: 10px;
}

.box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.box p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.select {
    margin-top: 20px;
}

.select select {
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

#Forpatients{
    background-color: #00CCB1;
    color: white
}

#Fordoctors{
    background-color: #3D83DF;
    color: white
}

#Forclinics{
    background-color: #1B2734;
    color: white
}
